#main-view{
	min-height: 200px;
	max-width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 10vw;
	padding-right: 10vw;
}
#main-view-title{
	font-size: 34px;
	margin-bottom: 10px;
	padding-left: 10px;
}
.sample-item-view{
	box-shadow: 0px 0px 5px gray;
	padding-left: 10px;
	margin-top: 20px;
}
.sample-title{
	font-size: 20px;
	font-weight: bolder;
	display: inline;
}
.sample-last-updated{
	display: inline;
	float: right;
	padding-right: 10px;
}

/**/

#buy-container{
	min-width: 100%;
	/*display: inline;*/
}

#add-to-cart-img{
	object-fit: contain;
	max-height: 70px;
}
