
#side-bar{
	min-height: 500px;
	max-width: 100%;
	/*background-color: #62e330;*/
	background-color: #ff5f4a;
	padding-left: 1vw;
	padding-top: 20px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 5px gray;
	overflow: hidden;
}
.side-bar-link{
	background-color: white;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	/*white-space: nowrap;*/
}

a:link{
  text-decoration: none;
}
