<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="nav-bar-items-a-href-links">
		<div id="col-1" class="col-12 col-md-8">
            <a href="index.html" type="button" class="btn nav-btn-ctm">
                <div class="english-static">HOME</div>
                <div class="bangla-static">হোম</div>
            </a>
            <a href="products.html" type="button" class="btn nav-btn-ctm">
                <div class="english-static">PRODUCTS</div>
                <div class="bangla-static">পন্য</div>
            </a>
            <a href="specialists.html" type="button" class="btn nav-btn-ctm">
                <div class="english-static">SPECIALISTS</div>
                <div class="bangla-static">বিশেষজ্ঞ</div>
            </a>
            <a href="services.html" type="button" class="btn nav-btn-ctm">
                <div class="english-static">SERVICES</div>
                <div class="bangla-static">সেবা</div>
            </a>
            <a href="#" type="button" class="btn nav-btn-ctm">
                <div class="english-static">ABOUT US</div>
                <div class="bangla-static">আমাদের সম্পর্কে</div>
            </a>
            <div style="display: inline-block">
                <div style="display: inline-block;padding-left: 20px;margin:0px;margin-top: 10px;">
                    <div class="english-static">Language</div>
                    <div class="bangla-static">ভাষা</div>
                </div>
                <div class="dropdown" id="lang-dropdown" style="display: inline-block;margin:0px;margin-top: 10px;">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="lang-dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="english-static">English</div>
                    <div class="bangla-static">বাংলা</div>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a type="button" class="dropdown-item lang-dropdown-item">English</a>
                    <a type="button" class="dropdown-item lang-dropdown-item">বাংলা</a>
                  </div>
                </div>
            </div>
        </div>
        <div id="nav-bar-user-info" class="col-12 col-md-4" >
            <a href="signin.html" type="button" id="login-btn" class="btn nav-btn-ctm security-info-btn">
                <div id="login-text">
                    <div class="english-static">Login</div>
                    <div class="bangla-static">প্রবেশ করুন</div>
                </div>
                <div id="logout-text"  style="display: none">
                    <div class="english-static">Logout</div>
                    <div class="bangla-static">প্রস্থান</div>
                </div>
            </a>
            <a href="adminpanel.html" type="button" id="admin-panel-btn" class="btn nav-btn-ctm security-info-btn">
                ADMIN
            </a>
        </div>
	</div>
</body>
</html>