<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="footer-container">
		<div id="footer">
			Contact Us:<br>
            Any type of queries feel free to contact at glaxoderma@gmail.com or sent message at <a href="http://facebook.com/glaxoderma" >facebook.com/glaxoderma</a><br>
            Developed & maintain by<br>
            Innovation Garage
            <a href="http://facebook.com/innovationgarage.bd">facebook.com/innovationgarage.bd</a><br>
		</div>
	</div>
</body>
</html>