<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="header">
        <div id="header-canvas-container">
            <canvas id="header-canvas"></canvas>
            <div id="logo" >GLAXODERMA</div>
        </div>
        <div id="header-bar" class="row">
            <div class="col-12 col-md-8">
                <a href="#" type="button" class="btn nav-btn-ctm">HOME</a>
                <a href="#" type="button" class="btn nav-btn-ctm">PRODUCTS</a>
                <a href="#" type="button" class="btn nav-btn-ctm">SERVICES</a>
                <a href="#" type="button" class="btn nav-btn-ctm">ABOUT US</a>
            </div>
            <div class="col-12 col-md-4" >
                <a href="#" type="button" class="btn nav-btn-ctm security-info-btn">Login</a>
            </div>
        </div>  
    </div>
</body>
</html>