<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="nav-bar-items-a-href-links">
		<div id="col-1" class="col-12 col-md-8">
            <a href="index.html" type="button" class="btn nav-btn-ctm">HOME</a>
            <a href="products.html" type="button" class="btn nav-btn-ctm">PRODUCTS</a>
            <a href="specialists.html" type="button" class="btn nav-btn-ctm">SPECIALISTS</a>
            <a href="services.html" type="button" class="btn nav-btn-ctm">SERVICES</a>
            <a href="#" type="button" class="btn nav-btn-ctm">ABOUT US</a>
        </div>
        <div id="col-2" class="col-12 col-md-4" >
            <a href="signin.html" type="button" class="btn nav-btn-ctm security-info-btn">Login</a>
        </div>
	</div>
</body>
</html>